*{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
body{
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
}
/* banner开始 */
.banner{
    background: #ff2f7c;
}
.banner img{
    display: block;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

/* banner结束 */
/* .banner1{
    display: block;
    height: 80px;
    background: #ff2f7c url(../image/banner.jpg) no-repeat center ;
} 
*/

/* header开始 */
#header{
    height: 40px;
    background: #f2f2f2;
    border-bottom-color:transparent !important;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.3);
    position: relative;
}
/* header结束 */
.wrapper{
    height: 32px;
    width: 1230px;
    margin:0 auto;
    font-family: "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    position: relative;
    left:-15px;
}
.header-login{
    height: 32px;
    line-height: 32px;
    font: 12px;
    width: 218px;
    /* display: inline-block; */
    float: left;
}
.header-login span,.header-login a{
    color:#999;
}
.header-login a{
    padding-left:20px;
}
.header-login a:hover{
    color:#ff0036;
}
.header-list{
    float: right;
    top:0px;
    right: 0px;
}
.header-list>li{
    float:left;
    height: 40px;
    line-height: 32px;
    padding: 0 10px;
    position: relative;
    /* display: inline-block; */
}
/* 丨开始 */
.header-list .separator{
    display: inline-block;
    width: 0;
    height: 14px;
    line-height: 14px;
    vertical-align: top;
    position: relative;
    top: 9px;
    left: 0;
    font-size: 0;
    border-left: 1px solid #ccc;
    margin: 0 2px 0 5px;
    padding:0px;
}
/* | 结束 */
.header-list li a{
    color:#999;
}
.header-list .menu-item{
    padding:0px;
}
.header-list .menu-item>a{
    /* display: inline-block; */
    border:1px solid #f2f2f2;
    border-top:none;
    padding:0px 14px 0px 10px;
}
li.menu-item>a:hover{
    text-decoration: underline;
}
li.menu-item:hover>a{
    color: #ff0036;
    background: #fff;
}
/* 我的淘宝开始 */
.menu-item:hover .sub-sn-menu{
    display: block;
}
.menu-item>a{
    display: inline-block;
    height: 40px;
}
.sub-sn-menu{
    background: #fff;
    border:1px solid #eee;
    border-top:none;
    padding:10px 8px;
    position: absolute;
    left:0px;
    top:32px;
    width: 74px;
    display: none;
    z-index: 9999;
    float: right;
}
/* 我的淘宝结束 */

/* 收藏夹开始 */
.menu-item:hover .sub-sn-menu1{
    display: block;
}
.menu-item>a{
    display: inline-block;
    height: 40px;
}
/* .menu-item a:hover{
    text-decoration: underline;
} */
.sub-sn-menu1{
    background: #fff;
    border:1px solid #eee;
    border-top:none;
    padding:8px 10px;
    position: absolute;
    left:0px;
    top:32px;
    width: 62px;
    display: none;
    z-index: 9999;
    float: right;
}
/* 收藏夹结束 */

/* 手机版开始 */
.sub-qr{
    position: absolute;
    left: -39px;
    top: 30px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    display: none;
    z-index:999;
}
.sub-qr::after{
    content: '';
    width: 0;
    height: 0;
    border:4px solid transparent;
    border-bottom-color:#fff;
    position: absolute;
    left:50%;
    top:-8px;
    margin-left:-4px;
}
.header-list .tel:hover .sub-qr{
    display: block;
}
/* 手机版二维码 */

/* 手机版结束 */
/* 商家支持开始 */
.sub-sn-menu2{
    background: #fff;
    border:1px solid #eee;
    border-top:none;
    padding:10px 8px;
    position: absolute;
    left:0px;
    top:32px;
    width: 120px;
    display: none;
    z-index: 9999;
    float: right;
}
.menu-item:hover .sub-sn-menu2{
    display: block;
}
.sub-menu1-merchant{
    height: 40px;
    line-height: 20px;
    width: 148px;
}
/* 商家支持结束 */
.sub-sn-menu .sub-menu-item a{
    color:#666;
}
.sub-menu-item{
    height: 40px;
    line-height: 20px;
    float:left;
}
#navigation:hover{
    text-decoration: none;
}
#navigation{
    text-decoration: none;
}
/*  箭头开始*/
.sn-menu::after{
    content:'';
    height: 0;
    width: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    position: absolute;
    top:15px;
    right:6px;
    transform-origin: 3px 1.5px;
}
.sn-menu:hover::after{
    transform:rotate(180deg);
    /* top:12px; */
    transition: all 0.2s linear;
}
/* 箭头结束 */
.header-list a:hover{
    color:#ff0036;
}
.icon-gouwuche{
    color:#ff0036;
    font-size: 12px;
}
.icon-shouji{
    color:#ff0036;
    font-size:12px;
}
.icon-wangzhandaohang{
    color:#ff0036;
    font-size:12px;
}
#header1{
    height: 130px;
    background: #fff;
}
.headerLayout{
    width: 290px;
    height: 130px;
    float:left;
}
.header-extra{
    width: 1230px;
    height: 106px;
    margin:0 auto;
    margin-top:0px;
}
#mallSearch{
    width: 625px;
    padding-top:38px;
    margin:0 auto;
    text-align:center;
    /* position: relative; */
}
#mallSearch #mallSearch-Input{
    position: relative;
    margin-bottom: 2px;
}
#mallSearch #mallSearch-Input form{
    /* border-width: 2px 0px 2px 2px; */
    border:2px solid #ff0036;
    height: 36px;
}
#mallSearch-Input #mq{
    height: 36px;
    width: 491px;
    /* font: 16px/22px arial; */
    font-size:14px;
    box-sizing: border-box;
    background: none;
    border:none;
    padding:5px 3px 5px 5px;
    position: absolute;
    left:0px;
    /* color:#000; */
    outline:none;
    /* background: 0 0; */
}
#mallSearch-Input label{
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    left:8px;
    top:0px;
    cursor: text;
}
#mallSearch-Input button{
    width: 132px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    background:#ff0036;
    position: absolute;
    right:0px;
    top:0px;
    color:#fff;
    cursor: pointer;
    border:1px solid #ff0035;
    display: block;
    box-sizing: border-box;
}
#mallSearch #mallSearch-list{
    height: 42px;
    width: 625px;
    text-align: center;
}
#mallSearch-list ul{
    /* display: inline-block; */
    height: 24px;
    font-size: 14px;
    padding:4px 0 0 ;
    width: 100%;
    margin-left:-13px;
}
#mallSearch-list li{
    float: left;
    border-left:1px solid #ccc;
    color:#999;
    line-height: 1.1;
    padding:0 12px;
}
#mallSearch-list a{
    color:#999;
}