#header1{
    height: 130px;
    background: #fff;
}
.headerLayout{
    width: 290px;
    height: 130px;
    float:left;
    margin-left:15px;
}
.header-extra{
    width: 1230px;
    height: 106px;
    margin:0 auto;
    margin-top:4px;
}
#mallSearch{
    width: 625px;
    padding-top:38px;
    margin:0 auto;
    text-align:center;
    /* position: relative; */
}
#mallSearch #mallSearch-Input{
    position: relative;
    margin-bottom: 2px;
}
#mallSearch #mallSearch-Input form{
    border:2px solid #ff0036;
    height: 36px;
}
#mallSearch-Input #mq{
    height: 36px;
    width: 491px;
    box-sizing: border-box;
    background: none;
    border:none;
    padding:5px 3px 5px 8px;
    position: absolute;
    left:0px;
    outline:none;
    color: #000;
    font: 14px/1.5 tahoma,arial,"\5b8b\4f53";
}
/* #mallSearch-Input label{
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    left:8px;
    top:0px;
    cursor: text;
} */
#mallSearch-Input button{
    width: 132px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    background:#ff0036;
    position: absolute;
    right:0px;
    top:0px;
    color:#fff;
    cursor: pointer;
    border:1px solid #ff0035;
    display: block;
    box-sizing: border-box;
}
/* 列表开始 */
#mallSearch #mallSearch-list{
    height: 42px;
    width: 625px;
    text-align: center;
}
#mallSearch-list ul{
    /* display: inline-block; */
    height: 24px;
    font-size: 14px;
    padding:4px 0 0 ;
    width: 100%;
    margin-left:-13px;
}
#mallSearch-list li{
    float: left;
    border-left:1px solid #ccc;
    color:#999;
    line-height: 1.1;
    padding:0 12px;
}
#mallSearch-list a{
    color:#999;
}
/* 列表结束 */
/* 水平分类 */
.inner-cont{
    width: 1030px;
    height: 35px;
    line-height:35px;
    margin: 0 auto;
    padding-left:200px;
    /* border-bottom: 2px solid #ff0036; */
}
.inner-cont img{
    width: 100px;
    height: 30px;
    margin-top:2px;
}
.inner-cont a{
    font-size:16px;
    font-weight: 500;
    color:#333;
    float:left;
    margin:0 8px; 
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.inner-cont a:hover{
    color:#ff0036;
}
/* 主内容区域 */
.content{
    height: 1000px;
    background:url(../image/bg.jpg) center -207px no-repeat;
    background-color:gray; 
    position: relative;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif; 
}
.slide-content{
    width:1230px;
    height:500px;
    margin: 0 auto;
    position: relative;
}
.categroy{
    width: 200px;
    position: absolute;
    top:-34px;
    z-index: 2;
}
.cate-title{
    height: 36px;
    /* line-height: 36px; */
    color:#fff;
    background: #ff0036;
    padding-left:12px;
}
.main-cate-box{
    height: 500px;
    background: rgba(0, 0, 0, 0.55);
}
.categroy .main-cate:last-child{
    height: 33px;
}
.categroy .main-cate{
    height: 31px;
    line-height: 31px;
    padding:0 8px;
}
.categroy .main-cate:hover>.information{
    display: block;
}
.main-cate>a{
    color:#fff;
    font-size:14px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.main-cate>span{
    color:#fff;
}
.main-cate:hover{
    background-color: #fff;
    color:#ff0036;
}
.main-cate-box i{
    color:#ccc;
}

.categroy .main-cate:nth-child(1):hover>a{
    color:#e54077;
}
.categroy .main-cate:nth-child(1):hover>i{
    color:#e54077;
}
.categroy .main-cate:nth-child(1):hover>span{
    color:#e54077;
}

.categroy .main-cate:nth-child(2):hover>a{
    color:#e54077;
}
.categroy .main-cate:nth-child(2):hover>span{
    color:#e54077;
}
.categroy .main-cate:nth-child(2):hover>i{
    color:#e54077;
}

.categroy .main-cate:nth-child(3):hover>a{
    color:#6347cd;
}
.categroy .main-cate:nth-child(3):hover>span{
    color:#6347cd;
}
.categroy .main-cate:nth-child(3):hover>i{
    color:#6347cd;
}

.categroy .main-cate:nth-child(4):hover>a{
    color:#e54077;
}
.categroy .main-cate:nth-child(4):hover>span{
    color:#e54077;
}
.categroy .main-cate:nth-child(4):hover>i{
    color:#e54077;
}

.categroy .main-cate:nth-child(5):hover>a{
    color:#6347cd;
}
.categroy .main-cate:nth-child(5):hover>span{
    color:#6347cd;
}
.categroy .main-cate:nth-child(5):hover>i{
    color:#6347cd;
}

.categroy .main-cate:nth-child(6):hover>a{
    color:#e54077;
}
.categroy .main-cate:nth-child(6):hover>span{
    color:#e54077;
}
.categroy .main-cate:nth-child(6):hover>i{
    color:#e54077;
}

.categroy .main-cate:nth-child(7):hover>a{
    color:#e54077;
}
.categroy .main-cate:nth-child(7):hover>span{
    color:#e54077;
}
.categroy .main-cate:nth-child(7):hover>i{
    color:#e54077;
}

.categroy .main-cate:nth-child(8):hover>a{
    color:#fa5c5c;
}
.categroy .main-cate:nth-child(8):hover>span{
    color:#fa5c5c;
}
.categroy .main-cate:nth-child(8):hover>i{
    color:#fa5c5c;
}

.categroy .main-cate:nth-child(9):hover>a{
    color:#f7a831;
}
.categroy .main-cate:nth-child(9):hover>span{
    color:#f7a831;
}
.categroy .main-cate:nth-child(9):hover>i{
    color:#f7a831;
}

.categroy .main-cate:nth-child(10):hover>a{
    color:#427def;
}
.categroy .main-cate:nth-child(10):hover>span{
    color:#427def;
}
.categroy .main-cate:nth-child(10):hover>i{
    color:#427def;
}

.categroy .main-cate:nth-child(11):hover>a{
    color:#dd2727;
}
.categroy .main-cate:nth-child(11):hover>span{
    color:#dd2727;
}
.categroy .main-cate:nth-child(11):hover>i{
    color:#dd2727;
}

.categroy .main-cate:nth-child(12):hover>a{
    color:#e54077;
}
.categroy .main-cate:nth-child(12):hover>span{
    color:#e54077;
}
.categroy .main-cate:nth-child(12):hover>i{
    color:#e54077;
}
.categroy .main-cate:nth-child(13):hover>a{
    color:#f7a831;
}
.categroy .main-cate:nth-child(13):hover>span{
    color:#f7a831;
}
.categroy .main-cate:nth-child(13):hover>i{
    color:#f7a831;
}
.categroy .main-cate:nth-child(14):hover>a{
    color:#3bc7b0;
}
.categroy .main-cate:nth-child(14):hover>span{
    color:#3bc7b0;
}
.categroy .main-cate:nth-child(14):hover>i{
    color:#3bc7b0;
}
.categroy .main-cate:nth-child(15):hover>a{
    color:#e54077;
}
.categroy .main-cate:nth-child(15):hover>span{
    color:#e54077;
}
.categroy .main-cate:nth-child(15):hover>i{
    color:#e54077;
}
.categroy .main-cate:nth-child(16):hover>a{
    color:#e54077;
}
.categroy .main-cate:nth-child(16):hover>span{
    color:#e54077;
}
.categroy .main-cate:nth-child(16):hover>i{
    color:#e54077;
}
/* 分类整体 */
.information{
    height: 500px;
    width: 852px;
    background: white;
    position: absolute;
    top:36px;
    left:200px;
    /* overflow: hidden; */
    display: none;
}
/* 分类标题(左侧) */
.hot-word-line{
    width: 603px;
    float: left;
}
.hot-word-line .line-title{
    height: 200px;
    width: 60px;
    color: #333;
    margin-right: 50px;
    position: relative;
    top:20px;
    left:30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    height: 22px;
    float: left;
    white-space: nowrap;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.hot-word-line .line-title>h5{
    white-space: pre;
}
.hot-word-line .space1{
    letter-spacing: 1px;
}
.hot-word-line .space2{
    letter-spacing:9px;
}
/* 右侧 */
.categroy .main-cate .information .right-list{
    float: right;
    background-color: #FAFAFA;
    width: 189px;
    padding: 10px;
    height: 480px;
}
.right-list .right-list-top a{
    display: block;
    float: left;
    width: 73px;
    margin-right: 1px;
    margin-bottom: 1px;
    height: 37px;
    padding: 5px 10px;
    overflow: hidden;
    background-color: #fff;
}
.right-list .right-list-top img{
    width: 73px;
    display: block;
    margin: 0 auto;
}
/* 具体分类 */
.line-list{
    float:left;
    width: 493px;
    color:#999;
    font-size:12px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    margin-top:20px;
    margin-bottom: -10px;
    border-bottom: 1px dashed rgba(0,0,0,.1);
    padding-bottom: 10px;
}
.line-list>a{
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #666;
    float: left;
    margin-left: 13px;
}
/* 第一个分类颜色 */
.change1 a:hover{
    color:#e54077;
}
.line-list .special1{
    color:#e54077;
}
/* 第二个分类颜色 */
.change2 a:hover{
    color:#e54077;
}
.line-list .special2{
    color:#e54077;
}
/* 第三个分类颜色 */
.change3 :hover{
    color:#6347cd;
}
.line-list .special3{
    color:#6347cd;
}
/* 第四个颜色分类 */
.change4 :hover{
    color:#e54077;
}
.line-list .special4{
    color:#e54077;
}
/* 第五个颜色分类 */
.chang5 :hover{
    color:#6347cd;
}
.line-list .special5{
    color:#6347cd;
}
/* 轮播图开始 */
.slide-img-box img{
    width: 1230px;
    display: block;
    height: 500px;
}
.slide-box{
    position: relative;
    height: 500px;
}
.slide-box a{
    position: absolute;
    left:0px;
    top:0px;
    /* z-index:-1; */
}
.slide-btn-box{
    position: absolute;
    bottom:25px;
    left:50%;
    width:210px;
    /* 已知宽度 */
    /* margin-left:-100px; */
    /* 不知道宽度  css3 transform: translateX(-50%); */
    transform: translateX(-50%);
}
.slide-btn-box li{
    height: 5px;
    width: 25px;
    /* background: #ccc; */
    background:rgba(0, 0, 0, 0.30);
    margin-right: 10px;
    float:left;
    cursor: pointer;
}
.slide-btn-box li:hover{
    background: #fff;
}
/* 轮播图结束 */
/* 下部分 */
.page-list{
    width: 1240px;
    height: 435px;
    margin: 0 auto;
}
/* 中间的链接 */
.page-title{
    display: block;
    height: 105px;
    background: url(../image/guanggao.png) center no-repeat;
    background-size:300px 65px; 
    text-indent: -1000em;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
/* 三个小部分 */
.group-a{
    display: block;
}
.group-wrapper{
    position: relative;
    float: left;
    width: 610px;
    height: 330px;
    margin-right: 10px;
    }
/* 左侧第一个开始 */
.Lfirst-page{
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 330px;
    margin: 0;
    color:#ff7200;
    background-image: url(../image/1bg.png);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.Lfirst-page .first-p{
    text-align: center;
    margin: 0px;
    padding-top: 32px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.Lfirst-page .second-p{
    text-align: center;
    padding:0 5px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    font-size:18px;
}
.Lfirst-page .first-img2{
    position: relative;
    margin: 20px auto 0;
    width: 180px;
    height: 180px;
    display: block;
}
.Lfirst-page .first-img1{
    position: absolute;
    top:0px;
    left:0px;
    display: block;
}
/* 左侧第一个结束 */
/* 左侧第二个开始 */
.Lsecond-page{
    color: #e30c62;
    position: relative;
    display: block;
    background: #fff;
    width: 350px;
    height: 160px;
    margin: 0 0 10px 260px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background-image:url(../image/2bg.png); 
}
.Lsecond-page .first-p{
    position: absolute;
    margin-left: 30px;
    padding-top: 27px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.Lsecond-page .second-p{
    width: 150px;
    padding:0 30px;
    font-size: 18px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    position: absolute;
    top:63px;
}
.Lsecond-page .second-img2{
    width: 130px;
    height: 130px;
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0;
    display: block;
}
.Lsecond-page .second-img1{
    position: absolute;
    top:0px;
    right: 0px;
}
/* 左侧第二个结束 */
/* 左侧第三个开始 */
.Lthird-page{
    color: #e6010c;
    background-image:url(../image/3bg.png); 
    position: relative;
    display: block;
    width: 350px;
    height: 160px;
    margin: 0 0 10px 260px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.Lthird-page .first-p{
    display: block;
    margin-left: 30px;
    padding-top: 27px;
    font-size: 24px;
    font-weight: 700;
}
.Lthird-page .second-p{
    padding: 0 30px;
    font-size: 18px;
}
.Lthird-page .third-img2{
    width: 130px;
    height: 130px;
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0;
}
.Lthird-page .third-img1{
    position: absolute;
    top:0px;
    right: 0px;
}
/* 左侧第三个结束 */
/* 右侧第一个开始 */
.Rfirst-page{
    color: #1d39e1;
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 330px;
    margin: 0;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    background-image:url(../image/4bg.png);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.Rfirst-page .first-p{
    padding-top:32px;
    text-align: center;
    display: block;
    font-size:24px;
    font-weight: 700px;
}
.Rfirst-page .second-p{
    padding: 0 5px;
    text-align: center;
    font-size: 18px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.Rfirst-page .four-img2{
    position: relative;
    margin: 20px auto 0;
    width: 180px;
    height: 180px;
    display: block;
}
.Rfirst-page .four-img1{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
/* 右侧第一个结束 */
/* 右侧第二个开始 */
.Rsecond-page{
    color: #00816a;
    background-image:url(../image/5bg.png); 
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
    position: relative;
    display: block;
    width: 350px;
    height: 160px;
    margin: 0 0 10px 260px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.Rsecond-page .first-p{
    display: block;
    margin-left: 30px;
    padding-top: 27px;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.Rsecond-page .second-p{
    padding: 0 5px;
    font-size: 18px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    position: absolute;
    top:63px;
    left:25px;
}
.Rsecond-page .five-img2{
    width: 130px;
    height: 130px;
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0;
    display: block;
}
.Rsecond-page .five-img1{
    position: absolute;
}
/* 右侧第二个结束 */
/* 右侧第三个开始 */
.Rthird-page{
    color: #835600;
    background-image:url(../image/6bg.png);
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    position: relative;
    display: block;
    width: 350px;
    height: 160px;
    margin: 0 0 10px 260px;
}
.Rthird-page .first-p{
    display: block;
    margin-left: 30px;
    padding-top: 27px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.Rthird-page .second-p{
    padding: 0 5px;
    font-size: 18px;
    margin-left: 25px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.Rthird-page .six-img2{
    width: 130px;
    height: 130px;
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0;
}
.Rthird-page .six-img1{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
/* 右侧第三个结束 */

/* 中间三个开始 */
.brandWall{
    margin:auto;
    padding-top:24px;
    width: 1230px;
    height: 370px;
    padding-right: 30px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
/* 中间三个结束 */
/* 品牌闪购开始 */
.brandWall .brandWall-item1{
    width: 234px;
    float:left;
    display: block;
    height: 370px;
    margin-right: 13px;
    background-color: #fff;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.brandWall .top{
    height: 54px;
    background: #fff;
    position: relative;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.brandWall .top .cn{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 54px;
    height: 18px;
    margin-left: 10px;
}
.brandWall .top .en{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-left: 10px;
    line-height: 24px;
    height: 44px;
}
.brandWall .top .more{
    text-indent: -99px;
    position: absolute;
    right: 14px;
    top: 0;
    width: 42px;
    height: 54px;
    line-height: 54px;
    z-index: 99;
    background-size: 18px 18px;
    background-image: url(../image/jiantou.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 14px;
    font-size: 16px;
    color: #666;
    overflow: hidden;
}
.brandWall .bottom .body{
    display: block;
    height: 316px;
}
.brandWall .bottom .body img{
    height: 316px;
    width: 100%;
}
/* 品牌闪购结束 */