<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <!-- 双向数据绑定 -->
        <!-- 
            v-mdel 页面数据发生改变 监测数据变化value 将value加入到对应的数组
            如果只检测数据 可以控制复选框的选中和不选中
        -->
        <input type="text" v-model="msg">
        <input type="radio" v-model="sex" value="boy">男
        <input type="radio" v-model="sex" value="girl">女
        <br>
        <!-- v-mpdel 可以省略name属性 -->
        <input type="checkbox" v-model="hobby" value="吃饭">吃饭
        <input type="checkbox" v-model="hobby" value="睡觉">睡觉
        <input type="checkbox" v-model="hobby" value="敲代码">敲代码

        <select v-model="school">
            <option value="黑大">黑大</option>
            <option value="理工">理工</option>
            <option value="林大">林大</option>
        </select>

        <h2>{{msg}}</h2>
    </div>
    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                msg: "asdasd",
                sex:"boy",
                hobby:["吃饭"],
                school:"林大"
            }
        })
    </script>

</body>

</html>